* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.art-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.art-image {
    transition: filter 0.3s ease-in-out;
}

.art-container:hover .art-image {
    filter: brightness(0.4);
}

.art-container:hover .art-text {
    opacity: 1;
}