.contact {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

.contact-title {
    font-size: 4rem;
    color: var(--primary-font-color)
}

.contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    width: 100%;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    border: 1px solid var(--primary-font-color);
    border-radius: 10px;
    color: var(--primary-font-color);
}

.contact-form textarea {
    resize: none;
    height: 150px;
}
