* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-font-color: #2c3e50;
    --secondary-font-color: #687475;
    --swe-color: #ff7043;
    --highlight-color: #f9a825;
    --art-color: #b39ddb;
    --background-color: #F4F4F4;
}

.footer {
    font-family: 'Roboto', sans-serif;
    color: #2c3e5066;
    margin-top: auto;
    background-color: var(--background-color);
    text-align: center;
    padding: 1rem;
}