@import "tailwindcss";

:root {
    /* Text Colors */
    --primary-font-color: #fff; /* Dark Blue-Gray for readability */
    --secondary-font-color: #c2c8c9; /* Muted Gray for subtext */

    /* Brand Colors */
    --swe-color: #ff7043; /* Vibrant Orange for SWE section */
    --art-color: #b39ddb; /* Soft Purple for Art section */

    /* Accent & Highlights */
    --highlight-color: #f9a825; /* Bold Yellow for emphasis */
    
    /* Backgrounds */
    --background-color: #f4f4f4; /* Light Gray for main background */
    --background-dark: #0b0b0b;
    --background-semi-dark: #1a1a1a;
    --card-background: #ffffff; /* White for content cards */
    --border-color: #e0e0e0; /* Soft Gray for subtle separation */

    --header-font: "Roboto";
    --secondary-font: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
html, body, #root {
    height:100%;
  }