* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero-title {
    color: #2C3E50;
    font-size: 4rem;
}

.hero-subtitle {
    color: #2C3E50;
    font-size: 2rem;
}

.swe {
    color: #FF7043;
}

.art {
    color: #B39DDB;
}

.cta-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

Button {
    font-size: 1rem;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

Button.swe:hover {
    background-color: #FF7043;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    
}

Button:hover::after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: transform 0.2s ease-in-out;
}

Button.art:hover {
    background-color: #B39DDB;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    
}