.about-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    width: 80%;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 80%;
    height: 300px;
    margin: 50px;
    margin-top: 30px;
}

.about-title {
    font-size: 4rem;
    color: var(--primary-font-color);
}

.about-text {
    font-family: "Open-sans", sans-serif;
    width: 40%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--secondary-font-color);
    min-width: 400px;
}

.headshot {
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}