* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-font-color: #2c3e50;
    --secondary-font-color: #687475;
    --swe-color: #ff7043;
    --highlight-color: #f9a825;
    --art-color: #b39ddb;
}

.navbar {
    position: sticky;
    top: 1rem;
    margin: 0 auto;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    width: 30%;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    z-index: 1;
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link {
    
    position: relative;
    text-align: center;
    overflow: visible;
}

.link a {
    display: block;
    padding: 0.5rem;
    color: var(--primary-font-color);
    text-decoration: none;
}

.link a:hover {
    color: var(--highlight-color);
}

Button {
    border: none;
    background-color: transparent;
    color: var(--primary-font-color)
}



ul {
    width: 150px;
    list-style: none;
}

li {
    font-size: 0.85rem;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

li:hover {
    color: var(--highlight-color);
    cursor: pointer;
}