.hero {
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero-title {
    color: var(--primary-font-color);
    font-size: 4rem;
}

.resume {
    color: var(--swe-color);
}

.github {
    color: var(--highlight-color);
}

Button.resume:hover {
    background-color: var(--swe-color);
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);    
}

Button.github:hover {
    background-color: var(--highlight-color);
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);    
}