* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-font-color: #2C3E50;
    --secondary-font-color: #687475;
    --swe-color: #FF7043;
    --art-color: #B39DDB;
    --highlight-color: #F9A825;

}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-font-color);
}

.swe-overview-title {
    font-size: 4rem;
    color: var(--swe-color)
}

.swe-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10rem auto;
}


.swe-skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px;
    width: 55%;
}

.swe-skills-content {
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}

.swe-skills-content h2 {
    text-align: center;
    font-size: 1.5rem;
}

.skill-image {
    width: 100px;
    height: 100px;
}

.swe-project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 400px;
    margin: 50px;
    width: 70%;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    border-radius: 20px;
}

.swe-project-image {
    height: 300px;
    max-width: 500px;
}

.swe-project-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 1.5rem;
}

.swe-project-info p {
    font-family: 'Open Sans', sans-serif;
}

.swe-project-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.swe-project-cta Button {
    color: var(--highlight-color);

}

a {
    text-decoration: none;
}

 .cta-container Button {
    font-size: 1rem;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--swe-color);
    backdrop-filter: blur(20px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.cta-container Button.swe:hover {
    background-color: var(--swe-color);
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    
}

.cta-container Button.project:hover {
    background-color: var(--highlight-color);
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    
}

.cta-container Button:hover::after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: transform 0.2s ease-in-out;
}